body {
	margin: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}





      #map { position:absolute; top:0; bottom:0; right: 0; left: 0; width:100%; }
	.tilelegend-map {
	  	position: relative;
	  width: 85%;}

	
